<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Safepad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <Safepad.Properties.Settings>
            <setting name="_Wordwrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_FormSize" serializeAs="String">
                <value>200, 300</value>
            </setting>
            <setting name="_TextFont" serializeAs="String">
                <value>Courier New, 9.75pt</value>
            </setting>
        </Safepad.Properties.Settings>
    </userSettings>
</configuration>
